@font-face {
  font-family: Poppins;
  src: url('assets/font/Poppins/Poppins-Regular.ttf');
}

body {
  /* background: #F8F9FE; */
  background: #F8F9FE !important;
  margin: 0;
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #828282;
  text-decoration: none !important;
}

.radius-10 {
  border-radius: 10px !important;
}

.border-none {
  border: none !important;
}

.bg-custom-o {
  background: #F2994A !important; 
}

.bg-custom-g {
  background: #028A74 !important; 
}

.hover-success:hover {
  color: #028A74 !important;
}

.z-2 {
  z-index: 2;
}

.wrapper {
  position: relative;
  margin: 0;
  padding: 0;
}



.master-container {
  margin-top: -4.5em;
}

